.guidelines-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #003366;
}

.header {
  color: darkblue;
  font-size: 28px;
}

.intro {
  font-size: 16px;
  color: #333;
}

h2 {
  color: #003366;
  font-size: 22px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer {
  font-size: 16px;
  color: #333;
}
