<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

body {
  margin: 0px;
  font-family: Arial, sans-serif;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    margin: 0px;
    /*padding: 0 20px;*/

}

.navbar-left{
    align-items: flex-start;
}

.navbar-right .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;

    @media(max-width: 768px) {
        display: none;
    }
}

.navbar-right .nav-links li {
  margin-right: 1rem;
}

.navbar-right .nav-links a {
  /*color: #fff;*/
  text-decoration: none;
}

.bolded{
    fontSize: 40px;
    position: relative;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 70px;
    padding-right: 30px;
    color: #627432;
    font-weight: bold;

    @media(max-width: 768px) {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.regtxt{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    color: #627432;
    font-size: 20px;

    @media(max-width: 768px) {
        text-align: center;
    }
}

.infoandbutton, .contact-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;

    @media(max-width: 768px) {
        display: grid;
        justify-content: center;
    }
}

.info-contact-section{
    flex-direction: column;
    flex: 3;
    padding-top: 200px;

    @media(max-width: 768px) {
        padding-top: 50px;
        flex: 1;
        text-align: center;
        position: relative;
    }
}

.icons-img {
    display: flex;
    justify-content: space between;
    align-items: center;
    width: 30px;
    height: auto;
    position: relative;
    padding-left: 40px;


    @media(max-width: 768px) {

        position: relative;
        margin-left:auto;
        margin-right:auto;
        justify-content: center;
        padding-left: 20px;

        width: 250px;
    }
}



.icons-img img {
    width: 50px;
    height: auto;
    padding-right: 20px;

    /*@media(max-width: 768px) {
        display:inline-block;
        text-align: center;
    }*/
}


.overlay {
    height:0%;
    width:100%;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;

  @media (max-height: 450px) {
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.carouselgallery {
    background-color: #627432;
}

.carousel-alignment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /*background-color: #85a8c5;*/
}

.carousel {
    overflow: hidden;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(max-width: 768px) {
        width: 300px;
        height: 400px;
    }
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    background-color: #fff;
}

.carousel-img {
    width: 700px;
    padding: 0 20px 0 20px;
}

.carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #617d98;
}

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator-buttons {
    border: none;
    cursor: pointer;
}

.indicators > button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: #26343f;
}

.indicator-symbol-active {
    color: #ffffff;
}



header{
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


main {
  font-family: Arial, sans-serif;
}

.flex-container{
  /*background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;*/
  display: flex;
  justify-content: space-between;
  background-color: pink;
  height: 500px;
}

.simple-textbtn {
  margin: auto;
  align-items: center;
  height: 500px;
  align: center;
  font-size: 16px;
  justify-content: center;
}

.button {
  background-color: #A59A6C;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.button2 {
  background-color: #A59A6C;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  position: relative;

  left: 8%;
  @media(max-width: 768px) {
        display: grid;
        position: relative;
        left: 50%;
        transform: translate(-50%, -100%);
  }
  /*transform: translate(-50%, -100%);*/

}

.navbar-toggler-icon {
  /*background-image: url('img/navbtn.png');*/
  width: 40px;
  height: auto;
}

.navbar-toggler {
  /*padding: .25rem .75rem;*/
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out;
  display: inline-block;

  @media(min-width: 768px) {
        display:none;
  }

}

.parent-grid{
  display: grid;
  /*grid-area:*/
  grid-template-columns: 3fr 2fr;
  /*gap 10pc;*/
  height: 500px;
  background-color: #90937c;
}

.forestbg {
  background-image: url('img/forestbackground.jpg');
  margin: auto;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;

  width: auto;
}

.child-grid{
  margin: auto;
  /*align-items: center;*/
  justify-content: center;
  /*background-color: pink;*/
  /*text-align: center;*/
}

.mission-statement {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #7E9941;
}
.content{
  flex: 1 1 auto;
  /*padding-top: 100px;*/
  justify-content: center;
  align-items: center;
}

.spacing {
  width: 50px;
  height: 50px;
}

.header-logo {
    flex: 1;
}

.header-logo {
  width: 50%;
  /*width: 300px;*/
  height: auto;

  @media(min-width: 768px) {
        width: 300px;
        height: auto;
    }
}

.header-nav-wrapper{
  /*color: white; /*#A2ABA8;*/
  /*font-size: 120%;*/
  /*text-align: right;  xx*/
  /*padding-left: .6vw;  xx/
  /*float:right;*/
  /*justify-content: flex-end;*/
  /*display: inline;*/
  /*whitespace: nowrap;*/
  flex: 2;
  display: flex;
  justify-content: flex-end;

}

.header-nav-list{
  display: flex;
  gap: 0px;
  justify-content: flex-end;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.header-nav-item {
margin: 0px;
}

.header-nav-list a {
text-decoration: none;
color: #333;
font-weight: bold;
padding: 8px 16px;
transition: background-color 0.3s, color 0.3s;

}

.header-nav-list a:hover {
background-color: #333;
color: #fff;
border-radius: 4px;
}