.button-tabs .tab {
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.button-tabs .active {
  background-color: #003366; 
  color: white;
}

.content{
  padding: 20px;
  background-color: #003366;
  flex-direction: column;  /* Stacks elements vertically */
  box-sizing: border-box;
}





