.logo-container {
  display: flex;
  justify-content: center;
  background-color: #DEE3D2;
}

.nav-logo img {
  width: 500px;
  height: 100px;
  object-fit: contain;
}

.navbar {
  background-color: #5B5B5B;
  padding: 10px 20px; 
  z-index: 200;
  position: relative;
} 

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.nav-menu {
  background-color: #5B5B5B;
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-around; 
  padding: 0;
  margin: 0;
}

.nav-item {
  position: relative;
}

.nav-icon {
  width: 1em;
  height: 1em;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  gap: 0.25em;
  align-items: center;
}

/* .nav-links:hover {
  background-color: #5B5B5B;
  border-radius: 5px;
} */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5B5B5B;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
} 

.dropdown-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  white-space: nowrap;
}

.dropdown-link:hover {
  background-color: #eeeeee44;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .dropdown-menu {
    width: max-content;
  }

  .nav-links {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    gap: 0.25em;
    align-items: center;
  }

  .nav-item:first-child .dropdown-menu {
    left: 0;
    transform: none; 
  }

 
  .nav-item:last-child .dropdown-menu {
    left: auto;
    right: 0; 
    transform: none;
  }
}


.dropdown-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.dropdown-link:hover {
  background-color: #eeeeee44;
  border-radius: 5px;
}
